@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');
@font-face {
  font-family: "Fakt Soft Pro";
  src: url("../fonts/FaktSoftPro-Normal.ttf");
}
* {
  margin: 0;
}
a:visited {
  color: inherit;
}
.App {
  position: relative;
  font-family: "Fakt Soft Pro", sans-serif;
  background-color: #121C2A;
  width: 100%;
  min-height: 100vh;
  color: #f1f1f1;
  font-size: 1.2rem;
  form.email-form {
    margin: 2rem auto;
  }
}
.social-buttons {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  .htf-button {
    margin-top: 2rem;
  }
}
