section {
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 3rem;
  h3 {
    font-size: 2rem;
    font-family: "Inter UI";
    margin: 2rem 0;
    padding: 0.2rem 6rem;
    background-color: #c8e8f5;
    color: #080b0e;
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .content {
    max-width: 900px;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: auto;
  }
}
section:last-of-type {
  margin-bottom: 4.5rem;
}

@media (max-width: 660px) {
  section {
    h3 {
      width: 100%;
      border-radius: 0;
    }
  }
}
