section {
  h3 {
    font-size: 2rem;
    font-family: "Inter UI";
    margin: 2rem 0;
    padding: 0.2rem 6rem;
    background-color: #c8e8f5;
    color: #080b0e;
    width: fit-content;
  }
  .content {
    max-width: 900px;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: auto;
  }
}
